@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
}

.pr-header .menu {
	display: flex;
	flex-direction: column;
}
.pr-header .menu a {
	font-size: 20px;
	cursor: pointer;
}
.pr-header {
	padding: 20px 10px;
}

.main-content {
	padding: 50px 100px;
}
.body-tr {
	cursor: pointer;
}
.details {
	padding: 100px 50px;
}
.details h2 {
	font-size: 30px;
	margin-bottom: 30px;
}
.filters {
	display: flex;
	margin-bottom: 50px;
	gap: 30px;
}
.filters input {
	margin-right: 20px;
}
